header{
    display: flex;
    justify-content: space-between;
    background-color: aquamarine;
    padding: 0px 20px;
    align-items: center;
    font-weight: bold;
}

.apple-logo{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.nav-ul{
    gap: 20px;
    height: 100%;
    display: flex;
    align-items: center;
}

.list>NavLink{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 50px;
}

.list:hover{
    text-align: center;
    border-radius: 10px;
    background-color: green;
}